<form class="ui stacked segment form inverted" action="/library/addgenre" method="POST" enctype="multipart/form-data">
  <!-- enctype="" type of encoding used on the form-data when it is submitted to the server, "multipart" should be used whenever you are using forms that have a file upload option-->
  <div class="two fields">
    <label>Library contains books of these genres.</label>
    <input placeholder="Genre" type="text" name="title" autofocus required>
  </div>

  <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>

  <button class="ui black submit button">Add Genre</button>

</form>