<form class="ui stacked segment form" action="/library/addGenre" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Genre" type="text" name="title" autofocus required>
  </div>
  <button class="ui black submit button">Add Genre</button>
</form>