<nav class="ui inverted menu">
  <header class="ui header item inverted"> <a href="/"> Dlgc mq xsr k Tjkcjswr ktn ["rot13"%//] </a></header>
  <div class="right menu inverted">
    <a id="genres" class="item" href="/library"> $${{Library}}$$ </a>
    <a id="about" class="item" href="/about"> 10 S$About$;:goto 10 </a>
    <a id="logout" class="item" href="/logout"> ../../logout.js </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>