<nav class="ui inverted menu">
  <header class="ui header item"> <a href="/"> Dlgc mq xsr k Tjkcjswr ktn </a></header>
  <div class="right menu">
    <a id="library" class="item" href="/genres"> Library </a>
    <a id="about" class="item" href="/about"> Pmose uw </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>