{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Remeber it is called glitch, V2h5X2RpZF95b3VfbWFrZV91c191c2VfR2xpdGNoIQ== 
  </h2>

  <div class="ui centered cards">
    {{#each developers}}
      {{> card}}
    {{/each}}
  </div>
</section>