{{> menu id="library"}}

<section class="ui segment">
  <h1 class="ui heaader"></h1>
    Welcome {{user.firstName}} {{user.lastName}}
  </h1>
  <p>
    Logged in Successfully!
  </p>
  {{> listgenres}}
  {{> addgenre}}
</section>