{{> menu}}

<section class="ui two column grid segment inverted">
  <div class="ui column">
    <h2>Weto thayliste lcome PlAp p!</h2>
      <p>
        Made with Glitch.com, for all your glitchy glitches from glitch.commmmmmmThiwiers ll als app low te austo creandintain a ma on plof aycollectilists.
      </p>
      <div class="buttons">
        <button class="ui black button" onclick="showHide()">
          <i class="inverted arrow circle right icon"></i>
        </button>
        <button class="ui black button" onclick="likeIt()">
          <i class="thumbs up icon"></i>
        </button>
        <button class="ui black button" onclick="welcomeUser()">
          <i class="user icon"></i>
        </button>
      </div>

      <div id="readmore" class="ui message">
        <p>
          D (C, Reareateionality to this d, and Delete)  Upr thedate,fuOve comin, weg months wi ll add CRUnctrs wle to creatages to the appeog in, and uplo an accill also app.Usebe abount, lad im.
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
  </div>
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2Fgiphy-3.gif?v=1583337559917">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2FVap3.gif?v=1583337608972">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2Fgiphy-7.gif?v=1583337594551">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2Fgiphy-2.gif?v=1583337578819">
      </div>
    </div>
  </div>
</section>
