{{> welcomemenu}}

<section class="ui two column grid segment inverted">
  <div class="ui column">
    <h2>FIRST AND LAST THINGS. {{fullname}}</h2>
      <p>
        Philosophical problems adopt in almost all matters the same form of question as they did two thousand
        years a g o ; how can anything spring from its opposite? for instance, reason out of unreason, the
        sentient out of the dead, logic out of unlogic, disinterested contemplation out of covetous willing,
        life for others out of egoism, truth out of error?
      </p>
      <div class="buttons">
        <button class="ui black button" onclick="showHide()">
          <i class="inverted arrow circle right icon"></i>
        </button>
        <button class="ui black button" onclick="likeIt()">
          <i class="thumbs up icon"></i>
        </button>
        <button class="ui black button" onclick="welcomeUser()">
          <i class="user icon"></i>
        </button>
      </div>

      <div id="readmore" class="ui message">
        <p>
          under
  the sudden illuminations of still disturbed and
  changing health, that the enigma of that great
  emancipation begins to reveal itself to the free,
  and ever freer, spirit,— that enigma which had
  hitherto lain obscure, questionable, and almost
  intangible, in his memory. If for a long time he
  scarcely dared to ask himself, “ W hy so apart ?
  So alone ? denying everything that I revered ?
  denying reverence itself? Why this hatred, this
  suspicion, this severity towards my own virtues ? ”
  — he now dares and asks the questions aloud, and
  already hears something like an answer to them—
  “ Thou shouldst become master over thyself and
  master also of thine own virtues. Formerly they
  were thy masters; but they are only entitled to
  be thy tools amongst other tools. Thou shouldst
  obtain power over thy pro and contra, and learn
  how to put them forth and withdraw them again
  in accordance with thy higher purpose. Thou
  shouldst learn how to take the proper perspective
  of every valuation— the shifting, distortion, and
  apparent teleology of the horizons and everything
  
  that belongs to perspective; also the amount of
  stupidity which opposite values involve, and all
  the intellectual loss with which every pro and every
  contra has to be paid for.
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
  </div>

<div class="ui divider"></div>

<h3 class="ui center aligned header"> 
  
</h3>
<div class="ui two statistics inverted">
    <div class="ui huge statistic inverted">
        <div class="value">
            {{totalGenres}}
        </div>
        <div class="label">
            Collections of books in this terrible Library
        </div>
    </div>
    <div class="ui huge statistic inverted">
        <div class="value">
            {{totalBooks}}
        </div>
        <div class="label">
            These are the numbers of books books are the number of these
        </div>
    </div>
</div>

  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2Fgiphy-3.gif?v=1583337559917">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2FVap3.gif?v=1583337608972">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2Fgiphy-7.gif?v=1583337594551">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/86a645c6-bcc2-4df2-a328-d32ad935ad96%2Fgiphy-2.gif?v=1583337578819">
      </div>
    </div>
  </div>
</section>
