{{> menu}}

<section class="ui two column grid segment inverted">
  <div class="ui column">
    <h2>Weto thayliste lcome PlAp p!</h2>
      <p>
        Thiwiers ll als app low te austo creandintain a ma on plof aycollectilists.
      </p>
      <div class="buttons">
        <button class="ui black button" onclick="showHide()">
          <i class="inverted arrow circle right icon"></i>
        </button>
        <button class="ui black button" onclick="alert('Thanks! You\'re okay too')">
          <i class="thumbs up icon"></i>
        </button>
        <button class="ui black button" onclick="welcomeUser()">
          <i class="user icon"></i>
        </button>
      </div>

      <div id="" class="ui message">
        <p>
          Over the coming months, we will add CRUD (Create, Read, Update, and Delete) functionality to this app. Users will also be able to create an account, log in, and upload images to the app.
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
  </div>
  <!--div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="">
      </div>
    </div>
  </div-->
</section>
